services:
  web:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./html:/usr/share/nginx/html:ro
      - ./certs:/etc/nginx/certs:ro
    ports:
      - "80:80"
      - "443:443"
    networks:
      - mynetwork
    healthcheck:  # опционально
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 30s
    restart: unless-stopped
    depends_on:
      - certbot

  certbot:
    image: certbot/certbot
    volumes:
      - ./certs:/etc/letsencrypt:rw
      - ./data/certbot:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      - mynetwork
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    networks:
      - mynetwork
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    networks:
      - mynetwork
    restart: unless-stopped
    depends_on:
      - prometheus
        
networks:
  mynetwork:
    driver: bridge